{
    "presets": [
      "next/babel",
      "@babel/preset-typescript"
    ],
    "env": {
      "production": {
        "plugins": [
          "macros"
        ]
      },
      "development": {
        "plugins": [
          "macros"
        ]
      }
    }
  }
