{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "prettier",
        "plugin:prettier/recommended",
        "airbnb-typescript",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/recommended",
        "plugin:import/typescript"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "JSX": "readonly",
        "React": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2021,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": ["import", "@typescript-eslint", "react", "react-hooks", "jsx-a11y", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [".js", ".ts", "tsx"]
            }
        ],
        "react/jsx-props-no-spreading": "off",
        "react/no-array-index-key": 1,
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/quotes": ["error", "double"],
        "quotes": "off",
        "indent": [
            "error",
            2,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": ["error", "unix"],
        "operator-linebreak": [
            "error",
            "before",
            {
                "overrides": {
                    "||": "after",
                    "&&": "after",
                    "=": "after"
                }
            }
        ],
        "semi": ["error", "always"],
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "spaced-comment": [
            "error",
            "always",
            {
                "markers": ["/"]
            }
        ],
        "object-curly-newline": "off",
        "no-confusing-arrow": "off",
        "arrow-parens": ["error", "as-needed"],
        "implicit-arrow-linebreak": "off",
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["hrefLeft", "hrefRight"],
                "aspects": ["invalidHref", "preferButton"]
            }
        ],
        "no-nested-ternary": ["off"],
        "import/prefer-default-export": ["off"],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "alias": {
                "map": [["@", "./"]],
                "extensions": [".ts", ".js", ".tsx", ".jsx", ".json"]
            }
        }
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "parserOptions": {
                "project": ["./tsconfig.json"]
            }
        },
        {
            "files": ["**/*.tsx"],
            "rules": {
                "react/prop-types": "off"
            }
        },
        {
            "files": ["**/*.d.ts"],
            "rules": {
                "@typescript-eslint/no-explicit-any": "off"
            }
        },
        {
            "files": ["**/*.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ]
}
